.top1{
display: flex;
justify-content: space-between;
margin:0;
padding:0;
border-line: 6px;
border-color: black;
background-color: grey;
width: 100%
height: 60px;
box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.53);
-webkit-box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.53);
-moz-box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.53);
}
.top1 p{
margin:0;
font-family: 'Dancing Script', cursive;
font-size: 40px;
line-height:60px;
padding-left: 20px;
color: white;
text-align: center;

}

.home{
float: right;
padding: 20px;
text-decoration: none;
color: #fff;
}

a {
text-decoration: none;
color: #000;
}

a:hover{
color: green;
}

h2{

font-family: 'Lucida Handwriting', cursive;
font-size: 40px;
line-height:30px;
padding-left: 20px;
color: grey;
text-align: center;
}

p2{
margin:auto;
font-family: 'Lucida Handwriting', cursive;
font-size:20px;
color: black;
text-align: center;

}
p3{
margin:auto;
font-size: 30px;
color: grey;
text-align:center;
}

img{
display: grid;
margin: auto;
width:425px;
  box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.53);
  -webkit-box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.53);
  -moz-box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.53);

}

div{
border: 1px solid grey;
    text-align: center;
    margin: 20px;
    padding: 8px;
    padding-left:5px;
    background:#e2e2e2;
    opacity: 0.9;
}