body{
margin:0;
padding:0;
background-image: url("/images/lakeView.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height:100vh;
}



a{
font-size: 16px;
text-transform: uppercase;
}


nav{
background-color: #7a7979;
text-align: center
height: 60px;
}


nav:after{
content:'';
clear: both;
display: block;
}

nav ul{
list-style: none;
float: right;
text-align: center;
height: 60px;
}

nav > ul > li{
float:left;
position: relative;
}

nav ul li a{
text-decoration: none;
color: #fff;
padding: 15px 20px;
display: block;
}

p {
color:black;
}
nav ul li:hover a{
background: #34495a;
}

nav ul ul{
position: absolute;
padding:0;
min-width: 160px;
display: none;
top: 100%;
left:0;
}

nav ul li:hover > ul{
display: block;
}

nav ul ul li:hover a{
background: #262626;
}

nav ul ul li{
position: relative;
}

nav ul ul ul{
top:0;
left:100%;
}

nav ul ul ul li:hover a{
background: #34495a;}

nav p{
font-family: 'Dancing Script', cursive;
font-size: 40px;
line-height:20px;
padding-left: 20px;
float: left;
color: white;
text-align: center;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  background: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
h1,h2,h3{
color: black;


}
.about-section {
  padding: 50px;
  text-align: center;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.row{
align right;

}
.button:hover {
  background-color: #555;
}