<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Welcome to We Can Trek</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/style2.css}">
</head>

<body>
<header>
    <h1>About Us</h1>
    <a th:href="@{wecantrekit}" > HOME</a>
</header>
<div class="about-section">
    <h1> Meet the creators</h1>
    <div class="row">

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2> Meet Orpa Jackson </h2>
                    <img src="/images/orpa1.jpg" />
                    <p class="title"> Front End coder</p>
                    <p> Hi!  Orpa here, I join the team as a front end coder, working with talented developers team. Love travel, watching movies and spend time with family.</p>
                    <p>@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2> Meet Stephen Fafiade </h2>
                    <img src="static/images/portoilio.jpg" />
                    <p class="title">Css/Html Stylist</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2> Meet Parth Patel </h2>
                    <img src="paris.jpg" alt="Paris" class="right">
                    <p class="title">BackEnd Coder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2> Meet Rochelle Dishmon </h2>
                    <img src="static/images/Bus pic.jpg" />
                    <p class="title">Back End Coder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>