<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">

    <title>Welcome to We Can Trek</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/continent.css}">
</head>
<body>

<div class="top">
    <div class="top1">
        <p> We Can Trek It Continents</p>
        <a th:href="@{wecantrekit}"> HOME</a>
    </div>
</div>


</div>

<div th:each="Continent: ${ContinentModel}">
    <h2 th:text="${Continent.name}"></h2>
    <p th:text="${Continent.content}"></p>
    <img th:src="${Continent.img}"/>
</div>

</div>
</body>
<footer></footer>
</html>









