<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Welcome to We Can Trek</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/styles1.css}">
</head>
<body>
<div class="top">
       <div class="top1">
           <p>Contact Us</p>

    <a th:href="@{wecantrekit}" > HOME</a>
    </div>
</div>

<div class="head">
    <div class="box">
        <img src="/images/MontainView.jpg" alt="contactdesign" style="width:100%">
    </div>
    <div class="box">
        <img src="/images/contactus2.png" alt="contactdesign2" style="width:100%">
    </div>
</div>
<footer><a th:href="@{wecantrekit}" > HOME</a></footer>
</body>
</html>