<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="Model.name}"Continents></title>
</head>
<body>
<header>
    <h1> th:text="${continentsModel.title}">We Can Trek Continents</h1>
</header>
<main>
    <p><a href="/continents">Continents</a></p>
    <ul>


        <li th:text="${continentModel.name}"></li>
       <li th:text="${continentModel.regions}"></li>
            </ul>
   <h2> th:text="${continentModel.regions}"</h2>
</main>

    <footer> %copy Stephen, Parth, Orpa, Rochelle</footer>
</body>
</html>