<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Welcome to We Can Trek</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/style.css}">
</head>
<body>
<div class="head">
    <nav>
        <p>We Can Trek it!</p>
        <ul>
            <li><a href="#"> Home</a></li>
            <li><a href="#"> Service Locations</a>
                <ul>
                    <li><a href="#">Asia</a>

                        <ul>
                            <li><a href="#">Asia 1</a></li>
                            <li><a href="#">Asia 2</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Africa</a>
                        <ul>
                            <li><a href="#">Africa 1</a></li>
                            <li><a href="#">Africa 2</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Australia</a>
                        <ul>
                            <li><a href="#">Australia 1</a></li>
                            <li><a href="#">Australia 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Europe</a>
                        <ul>
                            <li><a href="#">Europe 1</a></li>
                            <li><a href="#">Europe 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">North America</a>
                        <ul>
                            <li><a href="#">North America 1</a></li>
                            <li><a href="#">North America 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">South America</a>
                        <ul>
                            <li><a href="#">South America 1</a></li>
                            <li><a href="#">South America 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Antartica</a>
                        <ul>
                            <li><a href="#">Antartica 1</a></li>
                            <li><a href="#">Antartica 2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"> About</a></li>
            <li><a href="#"> Contact us </a></li>
        </ul>

        <!--    <h1 th:text="'We Can Trek ' + ${name}"></h1>-->
    </nav>
</div>


<!--<h1 th:text="' Hello, ' + ${name}"></h1>-->

<!--<div class="landingbackground">-->
<!--    <img th:src="@{/images/lakeview.jpg}">-->


</body>
</html>