<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="Model.name}"Regions></title>
</head>
<body>
<header>
    <h1> th:text="${regionsModel.title}">We Can Trek Regions</h1>
</header>
<main>
    <p><a href="/regions">Regions</a></p>
    <ul>


        <li th:text="${regionModel.name}"></li>
        <li th:text="${regionModel.regions}"></li> //should this be regionModel.continent?
    </ul>
    <h2> th:text="${regionModel.regions}"</h2>
</main>

<footer> %copy Stephen, Parth, Orpa, Rochelle</footer>
</body>
</html>